/* ======================
	BUTTON STYLES
   ====================== */

.btn{
	display: inline-block;
	padding: 1em 1.4em 0.7em 1.4em;
	color: #fff;
	text-transform: uppercase;
	@include gtlight;
	line-height: 1;
	letter-spacing: 1px;
	border: 1px solid transparent;
	background-color: #000;
	@include transition(all,0.3s);

	&:hover{
		color: #333;
		background-color: #fff;
		border: 1px solid #333;
	}

	&.secondary{
		color: #fff;
		background-color: #000;
		
		&:hover{
			color: #333;
			background-color: #fff;
			border: 1px solid #000;
		}
	}
}

.button{
	outline: none;
	border: none;
	background-color: transparent;
}

%button-toggle{
	text-transform: uppercase;
	letter-spacing: 1px;
}

%hover{
	border-bottom: 1px solid transparent;
	@include transition(all,0.3s);

	&:hover{
		border-bottom: 1px solid #000;
	}	
}

.toggle-gallery{
	@extend %button-toggle;
	@extend %hover;


	&:before{
		position: relative;
		top:-1px;
		content: "\e600";
		font-size: 1.5em;
		@extend %icon;
	}
}
.color-toggle{
	@extend %button-toggle;
	@extend %hover;

	&:before{
		position: relative;
		top:-1px;
		margin-right: 5px;
		content: "\e604";
		font-size: 1.5em;
		@extend %icon;
	}
}

.lightbox-toggle{
	@extend %button-toggle;
	@extend %hover;

	&:before{
		position: relative;
		top:-1px;
		margin-right: 5px;
		@extend %icon;
		content: "\e609";
		font-size: 1.5em;
	}
}