/* ======================
	FORM ELEMENTS
   ====================== */

label, .gfield_label{
	font-size: 1.15em;
	font-weight:400;
	@include gtlight;
	text-transform: uppercase;
	letter-spacing: 1px;
}

input[type="text"],
input[type="email"],{
	height: 40px;
}

input[type="text"],textarea{
	@include transition(all,0.3s);

	&:focus{
		@include single-box-shadow;
	}
}

input[type="submit"]{
	@extend .btn;
}

/* ======================
	CONTACT FORM
   ====================== */

.contact-form{
	h3{
		margin-top: 0;
	}
}//.contact-form

/* ======================
	LIGHTBOX FORM
   ====================== */

.lightbox-form-wrapper{
	visibility: hidden;
	@include opacity(0);
	z-index: 10;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: rgba(250,250,250,0.9);
	@include transition(all,0.3s);

	&.visible{
		overflow-y: auto;
		@extend .visible;
		
		.lightbox-form{
			top: 0;
		}
	}

	.lightbox-form{
		display: inline-block;
		position: relative;
		top: -200px;
		margin-top: 2em;
		@include transition(all,0.3s);

		.lightbox-toggle{
			position: absolute;
			top:10px;
			right: 10px;
			font-size: 1.5em;
		}
	}

	.gform_confirmation_wrapper{
		width: 100%;
		max-width: 600px;
		margin:2em auto 0 auto;
		background-color: #fff;
		border: 1px solid #ddd;

		.gform_confirmation_message{
			padding: 2em;
			color: #fff;
			font-size: 2em;
			@include gtlight;
			text-transform: uppercase;
			background-color: #2ecc71;
		}
	}
} 

/* ======================
	GFORM STUFF
   ====================== */

.gform_wrapper{
	margin: 0 auto !important;

	.gform_heading{
		width: 100% !important;
		margin:0;
		color: #333;

		.gform_title{
			margin: 0;
			font-size: 1.71em;
			font-weight: 300;
			text-transform: uppercase;
			@include gtbold;
		}

		.gform_description{
			@include gtlight;
		}
	}//gform_heading

	.gfield .ginput_complex {

		@media screen and (max-width: 550px){
			.ginput_left, .ginput_right{
				width: 100%;
			}
		}
		span > input{
				margin-bottom: 0;
			}		
	}

	.ginput_container{
		input[type="text"],input[type="email"],
		textarea{
			width: 100% !important;
			margin-bottom: 1em;
			padding:0.6em;
			font-size: 1em;
			color: #000;
			background: rgba(245,245,245,1);
			border: 1px solid rgba(213, 213, 213, 0.3);
			@include border-radius(3px);
		}			
	}//inputs

	.gform_footer{
		text-align: right;
	}

/* ======================
	LIGHTBOX
   ====================== */

	&.lightbox-email_wrapper{
		width: 100%;
		max-width: 600px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-top: 3px solid #ea6153;
		@include border-radius(3px);

		form.lightbox-email{
			display: inline-block;
			width:100%;
			margin:0;
			padding: 0 3em;
			color: #fff;

			.gform_heading{
				padding-top: 3em;
			}

			.gform_body{
				label{
					color: #000;
					text-align: left;
				}		
			}

			.gform_footer{
				margin-top: 0;
				padding-bottom: 3em;

				input[type="submit"]{
					@extend .btn.secondary;
				}
			}
		}// form			
	}// .lightbox-email_wrapper

/* ======================
	CONTACT
   ====================== */

	&.contact-form_wrapper{
		max-width: 100%;

		@media screen and (max-width: 767px){
			padding: 0;
		}
	}

	.contact-form{
		.gform_footer{
			margin: 1em 0 2em 0;
			padding: 0;
		}
	}//contact-form

	.lightbox-email, .contact-form{
		div.validation_error{
			padding: 0.5em;
			color: #fff;
			font-size: 1em;
			font-weight: normal;
			background-color: #e74c3c;
			@include border-radius(3px);
		}
		
		li.gfield.gfield_error{
			margin: 0 !important;
			padding: 0 !important;
			background-color: #fff;
			border: none;

			.validation_message{
				margin: 0;
				padding: 0 !important;
			}
		}		
	}

}// .gform_wrapper

.gform_confirmation_wrapper{
	// .gform_confirmation_message{
	// 	margin-top: 2em;
	// 	padding: 1em;
	// 	font-size: 1.3em;
	// 	@include fanwood;
	// 	text-transform: uppercase;
	// 	letter-spacing: 1px;
	// 	border: 1px solid black;
	// }			
}

.gform_confirmation_wrapper.lightbox-email{
	color: #fff;
}
