/* ==========================================================================
	HEADER
   ========================================================================== */
.splash{
	opacity: 0;
	visibility: hidden;
	position:fixed;
	top:0;right:0;bottom:0;left:0;
	background-image: url(../img/colour06.jpg);
	background-size: cover;
	z-index:9999;
	@include transition(opacity, 1s);

	&.visible{
		@extend .visible;
	}

	.valign{
		width: 100%;
		text-align: center;
	}

	.splashdamage{
		display: inline-block;
		padding: 0.6em 0.8em 0.5em 0.8em;
		font-size: 3em;
		@include gtbold;
		text-transform: uppercase;
	}
}

.fadeIn{
	position: fixed;
	top:0;right:0;bottom:0;left:0;
	background-color:#fff;
	z-index:9000;
	@include transition(opacity, 1s);

	&.invisible{
		visibility: hidden;
		opacity: 0;
	}
}

#header{
	position: fixed;
	top:0;
	width: 100%;
	height:60px;
	line-height: 60px;
	text-align: center;
	background-color: #fff;
	z-index: 15;
	overflow: hidden;
	@include transition(background-color, .3s);

	@media screen and (max-width: 550px){
		height:60px;

		.logo{
			height: 30px;
			overflow: hidden;
		}
	}

	.wrapper{
		padding: 0 3em;
	}
	
	.logo{
		
		a{
			position: relative;
			width: 210px;
			display: inline-block;
			@include transition(margin-top, .3s);

			i{
				display: inline-block;
				width: 100%;
				@include transition(opacity, .3s);
				@include translateZ(0);
			}

			.icon-logo{
				@include opacity(1);
				text-align: left;

				@media screen and (max-width:550px){
					text-align: center;
				}
			}

			.icon-home{
				left: 0;
				@extend .valign;
				@include opacity(0);
				font-size: 1.2em;
			}

			&:hover{

				.icon-logo{
					@include opacity(0);
				}

				.icon-home{
					width: 100%;
					@include opacity(1);
				}
			}
		}
	}

	.links {
		ul.menu{
			margin:0;
			padding:0;

			li.menu-item{
				display: inline-block;
				margin-left: 1em;
				
				&:first-child{
					margin-left: 0;
				}

				a{
					padding: 0.7em 0 0.3em 0;
					@include gtlight;
					text-transform: uppercase;
					border-bottom:1px solid transparent;
					@include single-transition(all,0.3s);
					
					&:hover{
						border-bottom:1px solid #111;
					}
				}

				&.current-menu-item{
					a{
						border-bottom:1px solid #111;
					}
				}
			}
		}
	}


	.counter{
		margin-left: 5px;
		color: #e74c3c;
	}

	@media screen and (max-width: 550px){
		line-height: 30px;
		text-align: center;
		.logo{
			width: 100%;
		}

		.links{
			width: 100%;
		}
	}
}

/* ==========================================================================
	CONTENT
   ========================================================================== */
#single-albums, #lightbox{
	height:100%;
}

#home{
	height: initial;
}

body{

	&.home{
		#main{
			overflow: auto;
		}
	}

	&.page-template-page-contact-php{
		#main{
			overflow: auto;
		}

		#weezy{
			height: initial;

			&.no-scroll{
				height: 100%;
			}
		}

		#header .wrapper{
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			overflow:hidden;
		}
	}
}

// WRAPPER
#weezy{
	// max-width: 1600px;
	height:100%;
	min-height:100%;
	margin:0 auto;

	&.no-scroll{
		overflow:hidden;
	}

	&.black{
		color: #fff;
		background-color: #000;

		#header{
			background-color: #000;

			.logo{
				a{
					color: #fff;
				}
			}
			
			.links{
				a{
					color:#fff;
					&:hover{
						border-bottom:1px solid #fff;
					}
				}				
			}

		}

		//Flexslider
		#slider{
			background-color: #000;

			.flex-direction-nav li{
				@include filter-gradient(#000, #000, vertical); // IE6-8
				// IE9 SVG, needs conditional override of 'filter' to 'none'
				$experimental-support-for-svg: true;
				@include background-image(linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(51,51,51,1) 25%,rgba(51,51,51,1) 75%,rgba(0,0,0,1) 100%));
			}

			.flex-direction-nav a{
				background-color: #000;
				
				i{
					color: #fff;
				}

				&:hover{
					background-color: rgba(0,0,0,0);
				}

				&.flex-disabled{
					background-color: #000;

					i{
						color: transparent;
					}
				}
			}
			
			footer{
				color: #fff;
				.button{
					color: #fff;					
				}
			}
		}

		//Galleries
		#gallery-content{
			color: #fff !important;
			background-color: #000;
			
			footer{
				background-color: #000;
				.button{
					color: #fff;					
				}
			}
		}

		//Instructions
		.instructions{
			color: #fff;

			strong{
				color: #fff;
			}
		}
	}//black
}

#main{
	position: relative;
	height:100%;
	padding-top:60px;
	overflow:hidden;
	@include transition(background-color, 0.3s);

	@media screen and (max-width: 550px){
		padding-top: 75px;
	}

	.home &{
		height: initial;
	}

	#lightbox &{
		overflow: initial;
	}
}

/* ======================
	HOMEPAGE
   ====================== */
%albums{
	position: relative;
	background-size: cover;
	background-position: center;
}

.albums{
	position: relative;

	>.column{
		padding:0;
		
		@media screen and (max-width: 767px){
			width:100%;
		}
	}

	.album{
		position: relative;
		width:100%;
		@include transition(all,0.3s);

		&.sizeone{
			@extend %albums;
			padding-top: 60%;
			
			#home2 &{
				padding-top: 50%;
			}
		}

		&.sizetwo{
			@extend %albums;
			padding-top: 120%;

			#home2 &{
				padding-top: 150%;
			}
			
			@media screen and (max-width: 767px){
				padding-top: 60%;
			}
			@media screen and (max-width: 500px){
				padding-top: 80%;
			}
		}
		
		&.sizethree{
			@extend %albums;
			padding-top: 30%;

			@media screen and (max-width: 767px){
				padding-top: 60%;
			}
			@media screen and (max-width: 500px){
				padding-top: 80%;
			}
		}

		.valign{
			width: 100%;
			text-align: center;
		}

		.category-links{
			position: relative;
			bottom:2em;
			margin:0;
			padding:0;
			list-style-type: none;
			visibility: hidden;
			@include opacity(0);
			@include transition(all,.3s);


			li.heading{
				@extend %category-heading;
				text-transform: initial;
			}

			li{
				@extend %category-link;
			}
		}
		
		.background{
			position: absolute;
			top:0;right:0;bottom:0;left:0;
			@include translateZ(0);

			.bg{
				@include opacity(0);
				visibility:hidden;
				position: absolute;
				top:0;right:0;bottom:0;left:0;
				background-position: top center;
				background-size: cover;
				@include transition(all .8s);

				&.visible{
					@extend .visible;
				}
			}
		}

		.overlay{
			position: absolute;
			top:0;right:0;bottom:0;left:0;
			background-color: rgba(0,0,0,.65);
			visibility: hidden;
			@include opacity(0);
			@include transition(opacity,0.3s);
		}

		&.active{

			h2{
				top:-1em;
				visibility: hidden;
				@include opacity(0);
			}

			.category-links{
				bottom:0;
				visibility: visible;
				@include opacity(1);				
			}

			.overlay{
				visibility: visible;
				@include opacity(1);
			}

		}
	}
}

// .album-grid{
// 	header{
// 		padding:0.9em 15px 0.5em 15px;;
// 		background-color: #fff;
// 		border-top: 1px solid rgba(51,51,51,0.2);
// 		border-bottom: 1px solid rgba(51,51,51,0.2);
		
// 		h2{		
// 			margin: 0;
// 			font-size: 1.5em;
// 			@include gtlight;
// 			text-transform: uppercase;
// 		}
// 	}
	
// 	.album-items{
// 		.item{
// 			position: relative;
// 			width: 10%;
// 			float:left;
// 			@include transition(all,0.3s);

// 			@media screen and (max-width: 1000px){
// 				width: 20%;
// 			}

// 			@media screen and (max-width: 800px){
// 				width: 25%;
// 			}

// 			@media screen and (max-width: 600px){
// 				width: 50%;
// 			}

// 			.overlay{
// 				z-index: 2;
// 				position: absolute;
// 				width: 100%;
// 				height: 100%;
// 				background-color: rgba(0,0,0,.65);
// 				visibility: hidden;
// 				@include opacity(0);
// 				@include transition(opacity,0.3s);
// 				text-align: center;

// 				span{
// 					display: inline-block;
// 					color: #fff;
// 					font-style: italic;
// 					@include fanwood;
// 					line-height: 1;
// 				}

// 			}
			
// 			&:hover{
// 				.overlay{
// 					visibility: visible;
// 					@include opacity(1);					
// 				}
// 			}
// 		}
// 	}
// }//.album


/* ======================
	GALLERY
   ====================== */ 

#gallery-content{
	position: absolute;
	top:0;right:0;bottom:0;left:0;
	padding-top: 90px;
	background-color: #fff;
	@include transition(top 1s, background-color .3s);
	z-index: 10;

	@media screen and (max-width:700px){
		overflow-y: auto;
	}

	&.hide{
		top: 100%;
	}
	
	.summary{
		width: 400px;
		padding: 2em 3em;

		@media screen and (max-width:767px){
			width: 250px;
		}

		@media screen and (max-width:700px){
			float: none;
			width: 100%;
			padding: 2em 3em;
		}
		@media screen and (max-width:550px){
			float: none;
			width: 100%;
			padding: 2em 1em;
		}

		h2{
			margin:0 0 0.5em 0;
			font-size: 2.14em;
		}
	}

	.gallery{
		height: 100%;
		padding-bottom: 10px;
		padding-right: 2.5em;
		overflow-y: auto;

		@media screen and (max-width:700px){
			width: 100%;
			padding-right: 0;
			height: initial;
		}

		ul{
			padding:0 ;
			list-style: none;

			li.column{
				padding: 1em;
				text-align: center;

				&.col-1-3{
					@media screen and (max-width:1000px){
						width: 50%;
					}
				}

				&.col-1-6{
					@media screen and (max-width: 1100px){
						width: 25%;
					}
					@media screen and (max-width: 900px){
						width: 33%;
					}
					@media screen and (max-width: 700px){
						width: 50%;
					}
				}

				&.portrait{
					a{
						height:100%;
					}
					img{
						height:100%;
						width: auto;							
					}

				}

				&.landscape{
					a{
						width: 100%;
					}

					img{
						width: 100%;
						height: auto;
						vertical-align: middle;							
					}

				}

				&.square{
					padding: 2%;
					a{
						width: 100%;
						height:100%;
					}
				}
				a{
					position: relative;
					display: inline-block;
					text-align: center;

					&:after{
						content:"";
						position: absolute;
						display:none;
						top:0;right:0;bottom:0;left:0;
						@include transition(background-color, 0.3s);
					}

					img{
						@include translateZ(0);
						@include transition(filter,.3s);
					}

					i{
						visibility: hidden;
						@include opacity(0);
						display: none;
						left:0;
						width: 100%;
						color: #fff;
						@include fanwood;
						@include transition(color,.3s);
					}

					&:hover{
						&:after{
							background-color: rgba(0,0,0,0.65);
						}

						i{
							z-index: 5;
							@extend .visible;
						}
					}
				}//a
			}//li.column
		}//ul
	}//.gallery
} //#gallery-content

.vertical{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* ======================
	LIGHTBOX
   ====================== */

#lightbox{
	@include transition(background-color, .3s);
	#gallery-content{
		padding-bottom:50px;

		footer{
			position: fixed;
			bottom:0;
			width:100%;
			padding: 5px 15px;
			background-color: #fff;
			z-index: 10;
			@include transition(all,0.3s);
		}

		&.hide{
			footer{
				bottom:-100%;
			}			
		}
	}
}


.instructions{
	height:100%;
	padding: 0 15px;
	color: #000;
	overflow-y: auto;

	.frame{
		// padding: 5%;
		// border: 2px dashed #3f3f3f;
		@include border-radius(3px);
		
		img{
			border: 1px solid #f0f0f0;
		}

		h2.big{
			margin:0 0 0.5em 0;
			font-size: 4em;
			@include gtlight;
			text-transform: uppercase;
			text-align: center;
			
			@media screen and (max-width: 650px){
				font-size: 2em;
			}
		}

		.column{
			text-align: center;

			@media screen and (max-width: 650px){
				// text-align: left;
				&.col-1-3{
					width: 100%;
					margin-bottom: 1em;
				}
			}
		}

		strong{
			// display: inline-block;
			// line-height: 50px;
			// width: 50px;
			// color: #fff;
			font-size: 1.2em;
			// text-align: center;
			// background-color: #000;
			@include border-radius(50px);

			@media screen and (max-width: 650px){
				font-size: 1em;
				line-height: 30px;
				width: 30px;
				@include border-radius(30px);
			}
		}

		p{
			display: inline-block;
			width: 100%;
			max-width: 500px;
			margin:0;
			padding: 1em;
			color: #333;
			font-size: 0.875em;
			text-align: center;
			background-color: #f0f0f0;

			@include border-bottom-left-radius(15px);
			@include border-bottom-right-radius(15px);
		}
	}
}

/* ======================
	CONTACT
   ====================== */

#contact{
	height: initial;

	header{
		overflow: hidden;
		background-color:#000;
		border-bottom: 5px solid #000;

		figure{
			height:400px;
			background-size: cover;
			background-position:center;
			
			@media screen and (max-width:800px){
				width: 100%;
				height:200px;
			}
		}

		.bio{
			height: 100%;
			padding:5em 3em 0 3em;
			color: #fff;
			text-align: justify;
			line-height: 1.8;
			
			@media screen and (max-width:800px){
				width: 100%;
				padding: 5em 2em;
			}

			h3:first-child{
				margin:0;
			}
		}
	}//header	

	.contact-section{
		overflow: hidden;
		border-left: 1px solid rgba(151, 151, 151, 0.17);
		border-right: 1px solid rgba(151, 151, 151, 0.17);

		.details{
			padding: 0;
			text-align: center;
			
			@media screen and (max-width:765px){
				width: 100%;
				border-right: none;
				border-bottom: 1px solid rgba(151,151,151,0.17);
			}

			.detail{
				padding: 3em 0 2em 0;
				border-top:1px solid rgba(151,151,151,0.17);
				@include single-transition(background-color, 0.5s);

				@media screen and (max-width:765px){
					float:left;
					width: 33%;
					height: 260px;
				}

				@media screen and (max-width:600px){
					float: none;
					width: 100%;
					height: initial;
				}

				&:first-child{
					border-top: none;
				}

				&:hover{
					background-color: #F5F5F5;
				}

				a{
					color: #616161;
					border-bottom: 1px solid #dbdbdb;
					@include single-transition(all, 0.3s);

					&:hover{
						color: #000;
						border-bottom: 1px solid #000;
					}
				}
			}

			i{
				display: none;
				@extend %icon;
				font-size: 1.5em;
			}

			h3{
				display: inline-block;
				margin:1em 0 0.5em 0;
				font-size: 1.29em;
				@include gtlight;
				text-transform: uppercase;
			}

			p{
				margin-top: 0;
			}
		}//.contact-details

		.form{
			padding: 3em 10% 0;
			border-left: 1px solid rgba(151,151,151,0.17);

			@media screen and (max-width: 765px){
				width: 100%;
			}
		}
	}//.contact-section
}//#header

/* ======================
	OVERLAY MENU
   ====================== */ 

%category-heading{
	margin-bottom: 0.5em;
	font-size: 1.43em;
	@include fanwood;
	font-style: italic;
}

%category-link{
	color: #fff;
	font-size: 2.5em;
	@include gtbold;
	font-style: normal;
	text-transform: uppercase;
	line-height: 0.9;

	a{
		@include backface-visibility(hidden);
		display: inline-block;
		padding: 0.35em 0.35em 0.15em 0.35em;
		color: #fff;
		border: 1px solid transparent;
		@include transition(border,.3s);

		&:hover{
			border: 1px solid white;
		}
	}

	@media screen and (max-width: 768px){
		font-size: 2em;
	}
}

#overlaymenu{
	z-index: 9999;
	visibility: hidden;
	position: fixed;
	top:0;right:0;bottom: 0;left: 0;
	color: #fff;
	text-align: center;
	background-color: transparent;
	@include opacity(0);
	@include transition(all,.5s);
	@include translateZ(0);
	overflow-y: auto;

	&.visible{
		background-color: #000;
		background-color: rgba(0,0,0, 0.9);
		visibility: visible;
		@include opacity(1);
		@include transition(all,.5s);
	}

	a{
		color: #fff;
	}

	header{
		position:relative;
		z-index: 10;
		padding: 0 3em;
		line-height: 60px;
		text-transform: uppercase;
		background-color: transparent;

		button{
			color: #fff;
			@include gtlight;
			text-transform: uppercase;
		}
	}

	.valign{
		z-index: 5;
		width: 100%;
		@media screen and (max-width:767px){
			position:relative;
			top:initial;
		}	
	}

	h2{
		font-size: 2.5em;
	}

	%menu{
		float:left;
		width: 50%;
		@media screen and (max-width:767px){
			width: 100%;
		}			
	}

	nav{
		overflow: hidden;
		vertical-align: top;

		&.menu-overlay-menu-left-container{
			@extend %menu;
			border-right: 1px solid #525252;
		}
		&.menu-overlay-menu-right-container{
			@extend %menu;
		}

		ul.menu{
			margin: 0;
			padding: 0;

			>li{
				>a{
					@extend %category-heading;
				}
			}
		}

		ul.sub-menu{
			margin: 0 0 1em 0;
			padding: 0;

			li{
				@extend %category-link;
			}
		}
	}/*nav*/
}/*overlay menu*/

/* ======================
	MODAL
   ====================== */ 

.modal{
	position: absolute;
	visibility: hidden;
	width: 100%;
	max-width: 400px;
	padding: 0.5em 2em;
	text-align: center;
	line-height: 1;
	background-color: #fff;
	z-index:10;
	@include opacity(0);
	@include border-radius(50px);
	@include single-transition(all,0.3s);
	
	&.visible{
		visibility: visible;
		@include opacity(1);
	}


	.message{
		margin: 0;
		color: #333;
		font-size: 1.14em;
		letter-spacing: 1px;
		@include fanwood;
		background-color: #fff;
		
		@media screen and (max-width:600px){
			font-size: 1em;
		}

		&.success:before{
			margin-right: 0.5em;
			color: #2ecc71;
			content: "\e116";
			font-size: 1.5em;
			@extend %icon;
		}

		&.fail:before{
			margin-right: 0.5em;
			color: #e74c3c;
			content: "\e117";
			font-size: 1.5em;
			@extend %icon;
		}
	}
}

/* ======================
	SINGLE ALBUM FLEXSLIDER
   ====================== */ 

#slider{
  	height: 100%;
  	margin: 0;
  	padding: 0 0 70px 0;
  	border: none;
  	@include transition(all, .3s);

	&.visible{
		@extend .visible;

		img{
			@include opacity(1);
		}
	}

	@media screen and (max-width: 480px){
		padding-bottom: 100px;
	}

	ul.slides{
		height: 100%;
		margin:0;
		
		li{
			position: relative;
			height: 100%;
			text-align: center;
			z-index: 4;

			&:hover{
				button{
					@extend .visible;
				}
			}

			img{
				max-height: 100%;
				width: auto;//this creates the gap on mozilla set to a value max-width:100% for mozilla
				@include opacity(0);
				@include backface-visibility(hidden);
				@include transition(opacity,.3s);
			}

			&.flex-active-slide{
				img{
					@include opacity(1);					
				}
			}				
		}//li
	}//ul.slides
		
	.flex-direction-nav{
		.prev-li{
			position: absolute;
			top:0;left:0;
			height:100%;
			width: 10%;
		}
		.next-li{
			position: absolute;
			top:0;right:0;
			height:100%;
			width: 10%;
		}
	}

	footer{
		position: absolute;
		bottom:0;
		padding: 15px 3em;
		z-index: 10;
		overflow: hidden;

		button{
			margin-right: 1em;
		}
	}

	.gallery-meta{
		margin-left: 1;
		font-size: 1.14em;
		@include fanwood;
		z-index: 2;

		@media screen and (max-width:767px){
			display: block;
			margin-left: 0;
		}

		@media screen and (max-width:767px){
			font-size: 0.8em
		}
	}
}

/* ======================
	Animation
   ====================== */ 

.slowfade{
      -webkit-animation: fadeFromWhite 3s 1;
      -moz-animation:    fadeFromWhite 3s 1;
      -o-animation:      fadeFromWhite 3s 1;
      -ms-animation:     fadeFromWhite 3s 1;
      -khtml-animation:  fadeFromWhite 3s 1;
      animation:         fadeFromWhite 3s 1;
}

@-webkit-keyframes fadeFromWhite {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeFromWhite {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeFromWhite {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeFromWhite {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


.lazy{
	@include opacity(0);
	@include transition(opacity, 0.5s);

	&.b-loaded{

		@include opacity(1);
	}
}
/* ======================
	TOUCH & OTHER BS
   ====================== */
.no-touch{

	#header{
		.icon-home{
			display: inline-block !important;
		}
	}

	#slider{
		.slides{
			.lightbox-add, .lightbox-remove{
				display: inline-block;
			}
		}

		.add{
			display: none;
		}
		.remove{
			display: none;
		}
	}

	.gallery{
		li{
			a{
				&:after{
					display: inline-block !important;
				}

				i{
					display: inline !important;
				}
			}
		}
	}
}

// IE8
html.lt-ie9{
	#weezy{
		min-width: 1024px;
	}

	#overlaymenu{
		.valign{
			top:0;
		}
	}

	#slider{
		footer{
			overflow: hidden;

			button{
				float:left;
			}
		}
	}
}